/* TODO EN INGLÉS (cuando acabes todo) */




body {
    margin-left: 300px;
    padding: none;
    width: 1280px;
    font-family: 'Outfit', sans-serif;
}


nav {
    background-color: #2B2A2B;
    width: 1280px;
    height: 64px;
    color: #ffff;
    font-size: 14px;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #ffff;
    padding: 10px;

}


#cafeAlturaLogo {
    padding-top: 14px;
    padding-left: 25px;
}

#bagIcon {
    margin-left: 40px;
}

#sigIn {
    border-style: solid;
    border: #515051;
    background-color: #515051;
    ;
    font-size: 14px;
    border-radius: 4px;
    padding-top: 5px;
}

#phoneIcon {
    display: flex;
    flex-direction: row;
}

.imgPhone {
    height: 18px;
    margin-right: 10px;
    margin-top: 4px;
}

div.section2 {
    display: flex;
    align-items: flex-start;
    background-color: 
    rgb(227, 222, 215, 0.3);
}

.section2text {
    padding-top: 130px;
    padding-left: 50px;
   

}

.section2Img {
    padding-top: 40px;
    padding-bottom: 40px;
}

p.section2P {
    color: #2A5B45;
    font-weight: 700;
}

.aSection2 {
    text-decoration: none;
    box-shadow: 0px 0px 4px #515051;;

}
.section2Img img{
    box-shadow: 0px 0px 4px #515051;
}
  

#buttonDescubrir {
    background-color: black;
    color: #ffff;
    padding: 12px;
    margin-right: 30px;
    border-radius: 4px;
}

#buttonComprar {
    background-color: #2A5B45;
    ;
    color: #ffff;
    padding: 12px;
    margin-right: 30px;
    border-radius: 4px;
}

.section3 {
    background-image: url(../Assets/images/backgroundsection3.jfif);
    width: 1280px;
    height: 380px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

article {
    display: flex;
    justify-content: center;
}

.divIcon {
    display: flex;
    align-items: center;
    align-content: center;
    width: 316px;
    height: 232px;
    margin: 15px;
    background-color: #ffff;
    border-radius: 8px;
}

#h2Section3 {
    text-align: center;
    font-size: 22px;
    color: #ffff;
    padding-top: 35px;
}

.section3Img {
    width: 60px;
    height: 55px;
    background-color: #2A5B45;
    border-radius: 20px;
    padding: 15px;
    margin-bottom: 15px;

}

h3.h3Section3 {
    font-size: 5px;
}

.divSection3 {
    text-align: center;
    padding-top: 15px;
    font-size: 12px;
}

.section4 {
    width: 1280px;
    display: flex;
    flex-direction: row;
    padding-bottom: 35px;
}

.card {
    margin: 10px;
}

#h2Section4 {
    text-align: center;
    font-size: 1.5em;
    color: #2A5B45;
    padding: 20px 0px;
}

.card-body {
    text-align: center;
}

.btn {
    background-color: #2A5B45;
    border: none;

}

.imgSec4 {
    padding-top: 25px;
}

.verTodos {
    padding-top: 35px;
}

#verTodosSection4 {
    text-decoration: none;
    color: black;
}


.section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1280px;
    height: 604px;
    background-color: #2A5B45;
    padding-top: 25px;
}

.section5 img {
    width: 10px;
    height: 6px;
}

.section5 h3 {
    width: 228px;
    height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
}

.section5A1 {
    display: flex;
    flex-direction: column;
    width: 668px;
    height: 160px;
    background-color: #FFFFFF;
    border-radius: 22px;
}

.section5A1 h4 {
    font-size: 20px;
    padding-top: 20px;
}

.section5A2 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 668px;
    height: 180px;
    background-color: #FFFFFF;
    border-radius: 22px;
}

.section5A2 h4 {
    font-size: 20px;
}

.section5A3 {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 668px;
    height: 72px;
    background-color: #FFFFFF;
    border-radius: 22px;
}

.section5A3 h4 {
    font-size: 20px;
}

#tittleandRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.linkResolvemos {
    color: #FFFFFF;
    padding-top: 15px;
    font-size: 14px;

}

details {

    border-radius: 20px;
    background-color: #ffff;
}

div.section6 {

    display: flex;
    align-items: flex-start;
}

.section6text {
    padding-top: 130px;
    padding-left: 50px;

}

.section6Img {
    padding-top: 40px;
    padding-bottom: 40px;
}

.articleSection6 {
    display: flex;
    justify-content: start;
}

#verTodosSection6 {
    text-decoration: none;
    color: #374151;
}

#section6H3 {
    color: #2A5B45;
}

.section7 {
    background-color: #E3DED7;
}

.form {
    display: flex;
    flex-direction: column;
    width: 588px;
    height: 552px;
    background-color: #FFFFFF;
}

.input {
    border-radius: 8px;
}

#phoneCode {
    width: 68px;
    height: 38px;
}


.phoneBox {
    display: flex;

}

textarea {
    width: 470px;
    height: 122px;

}


.mailSect7 {
    display: flex;

}

.mailSect7 img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}

.phoneNumberSect7 {
    display: flex;
}

.phoneNumberSect7 img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.textSection7 {
    padding-top: 80px;
    padding: 80 30px;
}

.textSection7 {
    color: #6B7280;
}

.textSection7 h5 {
    color: #374151;
}

.textSection7 a {
    color: #374151;
}

.form label {
    margin-top: 30px;
    color: #374151;
    font-size: 12px;
}

label {
    color: #374151;
}

#checkBoxForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin-top: 18px;
}

.checkbox {
    margin-right: 15px;
}

#enviarForm {
    text-align: center;
    padding: 5px;
    border-style: solid;
    border-color: #2A5B45;
    background-color: #2A5B45;
    color: #FFFFFF;
    width: 90px;
    height: 40px;
    text-decoration: none;
    margin-top: 10px;
    border-radius: 4px;
}

.privacyandTerms {
    color: #374151;
}

footer {
    height: 250px;
    background-color: #1F1815;
}

.col1F {
    padding-left: 15px;
}

.col1F p {
    padding-top: 20px;
    color: #E3DED7;
    font-weight: bold;
}

#cafedeAlturaLogoF {
    padding-top: 25px;
}

.buttonF {
    background-color: #515051;
}

.buttonF a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

#phoneButtonF {
    width: 182px;
    height: 48px;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
}

#mailButtonF {
    width: 232px;
    height: 48px;
    margin-top: 16px;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 4px;
}

.col2F {
    margin-top: 60px;
    display: flex;
    font-size: 14px;
    flex-direction: column;

}

.col2F a {
    padding-top: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.col3F {
    margin-top: 60px;

    display: flex;
    font-size: 14px;
    flex-direction: column;

}

.col3F a {
    padding-top: 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
}

.lastSection {
    width: 1280px;
    height: 50px;
    background-color: #2B2A2B;
}

.lastSection p {
    text-align: center;
    padding: 12px 0;
    color: #ffff;
    font-weight: bold;
}

.section4 .card:hover {
    background-color: #E3DED7;
    ;
}

#heroImage{
    border-radius: 20px;
}

#localPicture{
    border-radius: 20px;
}

#localPicture{
    border-radius: 20px;
}

.shoppingCard {
    color: whitesmoke;
    position: absolute;
    bottom: 550px;
    top: 60px;
    left: 1362.9px;
    width: 200px;
    height: 260px;
    background-color: #2B2A2B;
    transition: border-radius cubic-bezier(0.075, 0.82, 0.165, 1) 1s,
                 transform cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
   }
   
   .shoppingCard:hover {
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    transform: scale(1.05);
   }
   